<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>

    <div id="wrapper">
        <strong><em><h2>User's form</h2></em></strong>
        <hr>

        <form action="/users" method="post">
            <p>
                <label for="firstname">First Name</label>
                <input type="text" size="50" name="firstname" placeholder="Enter your first name here...">
            </p>
            <p>
                <label for="lastname">Last Name</label>
                <input type="text" size="50" name="lastname" placeholder="Enter your last name here...">
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>

        </form>
    </div>
</body>

</html>